WHEELHOUSE_INTEGRATION_KEY=BKXc_wza6e5A3iAcyJF1MNLk2BVrVw
WHEELHOUSE_USER_KEY=zgo_cxsKPvbXWwxqxcijPqesySzsNw

# Auth
JWT_SECRET=your-random-secret-here
ALLOWED_EMAILS=john@example.com,partner@example.com
